footer.Footer
	.Container
		.Footer_top
			a(href="/").Logo.Logo-footer.Footer_logo
				img(src="img/logo.svg" alt="Logo").Logo_img
			ul.Contacts.Footer_contacts
				li.Contacts_item г. Кемерово, #[br.hidden-smPlus]ул. 50 лет Октября, 11, оф. 518
				li.Contacts_item
					a(href="tel:+73842233373").Contacts_link +7 (3842) 23-33-73
				li.Contacts_item
					a(href="mailto:test@gmail.com").Contacts_link Написать нам
			ul.SocIcons.Footer_socIcons
				li.SocIcons_item
					a(href="http://instagram.com" target="_blank").SocIcon.SocIcon-instagram.SocIcons_link
				li.SocIcons_item
					a(href="http://vk.com" target="_blank").SocIcon.SocIcon-vk.SocIcons_link
				li.SocIcons_item
					a(href="http://youtube.com" target="_blank").SocIcon.SocIcon-youtube.SocIcons_link
				li.SocIcons_item
					a(href="http://ok.ru" target="_blank").SocIcon.SocIcon-ok.SocIcons_link
		.Footer_bottom
			ul.Copyright.Footer_copyright
				li.Copyright_item ©2021 ЖК «Тихий бульвар»
				li.Copyright_item Проектная декларация на наш.дом.рф