extends layouts/base

block content
  .HeroSection
    .Container.Container-heroSection
      .HeroSection_top
        a(href="/").Logo
          img(src="img/logo.svg" alt="Logo").Logo_img
        .HeroSection_buttons
          a(href="#").CircleBtn.CircleBtn-menuHamburger
          a(href="#").CircleBtn.CircleBtn-phone
      h1.SectionTitle.SectionTitle-hero.HeroSection_title Счастье любит тишину
      .HeroSection_text ЖК «Тихий Бульвар»
      a(href="#").BtnPastel.BtnPastel-hero.HeroSection_apartmentsBtn Квартиры
      a(href="#").MoreBtn.HeroSection_moreBtn