*
  margin 0
  padding 0
  box-sizing border-box
  -webkit-tap-highlight-color transparent

html
  scroll-behavior smooth

html,
body
  height 100%

body
  font-family $baseFont
  color $black
  background $white
  font-size 16px
  line-height normal

img,
iframe
  max-width 100%
  height auto
