font-face('Montserrat', '../fonts/subset-Montserrat-Bold', bold)
font-face('Montserrat', '../fonts/subset-Montserrat-Regular')
font-face('Montserrat', '../fonts/subset-Montserrat-Medium', 500)
font-face('Forum', '../fonts/subset-Forum')