.hidden-xxs
  @media $xxs
    display none!important
.hidden-xs
  @media $xs
    display none!important
.hidden-smMinus
  @media $smMinus
    display none!important
.hidden-smPlus
  @media $smPlus
    display none!important
.hidden-sm
  @media $sm
    display none!important
.hidden-md
  @media $md
    display none!important
.hidden-mdPlus
  @media $mdPlus
    display none!important
.hidden-lg
  @media $lg
    display none!important
.hidden-lgMinus
  @media $lgMinus
    display none!important
.hidden-lgPlus
  @media $lgPlus
    display none!important

.hidden
  display none!important

.transition
  transition all .2s ease-in-out
