// $text-color = #555

// Color vars
$brown = #97544A
$pastel = #BD7B6E
$white = #FFF
$black = #201600
$green = #476D5C
$sandy = #FCE7C7

$baseFont = 'Montserrat', sans-serif
$forum = 'Forum', sans-serif