// $text-color = #555

// Color vars
$brown = #97544A
$pastel = #BD7B6E
$white = #FFF
$black = #201600
$green = #476D5C
$sandy = #FCE7C7
$grey = #909599

$baseFont = 'Montserrat', sans-serif
$forum = 'Forum', sans-serif

// START: layout vars
$xxs = '(max-width: 575px)'
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1023px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$mdPlus = '(min-width: 1024px)'
$lgMinus = '(max-width: 1365px)'
$md = '(min-width: 1024px) and (max-width: 1365px)'
$xlMinus = '(max-width: 1919px)'
$lg = '(min-width: 1366px) and (max-width: 1919px)'
$lgPlus = '(min-width: 1366px)'
$xlPlus = '(min-width: 1920px)'