.ApartmentBooking
	position relative
	z-index 10
	
	&_title
		margin-bottom 17px
	
	&_text
		margin-bottom 31px
	
	&_form
		margin-right 8px
		margin-bottom 40px
	
	&_imgWrapper
		width 240px
		height 442px
		margin-right auto
		margin-left auto
		border-radius 216px
		overflow hidden
		
	&_img
		max-width none
		max-height 100%
		margin-left -46px