.BenefitsSection
	padding 128px 0 30px
	
	@media $smPlus
		padding 168px 0 27px
	
	@media $lgPlus
		padding 88px 0 70px
	
	@media $xlPlus
		padding 122px 0 96px
	
	&_swiper
		margin-right -16px
		margin-left -16px
		
		@media $smPlus
			margin-right -32px
			margin-left -32px
		
		@media $lgPlus
			margin-right 0
			margin-left 0