.BtnDefault
	display inline-grid
	padding .625em 1.25em
	border none
	border-radius 2.5em
	background $pastel
	font-weight 500
	font-family $baseFont
	font-size 16px
	line-height 1.25
	color $white
	text-align center
	text-decoration none
	white-space nowrap
	cursor pointer
	@extend .transition
	
	&:hover
		background darken($pastel, 15%)
	
	&-layout,
	&-mortgage,
	&-bookApartment
		padding-top 14px
		padding-bottom 14px
	
	&-mortgage
		width 284px
		
		@media $smPlus
			width 288px
	
	&-consultForm
		padding .9em 3.55em
		
		@media $mdPlus
			padding 1.2em 5.4em