.BtnDefault
	display inline-grid
	padding 10px 24px
	border none
	border-radius 40px
	background $pastel
	font-weight 500
	font-family $baseFont
	font-size 16px
	line-height 20px
	color $white
	text-align center
	text-decoration none
	white-space nowrap
	@extend .transition
	
	&:hover
		background $brown
	
	&-layout,
	&-mortgage
		padding-top 14px
		padding-bottom 14px
	
	&-mortgage
		width 284px
		
		@media $smPlus
			width 288px