.BtnOutline
	display inline-grid
	padding 10px 24px
	border 1px solid $pastel
	border-radius 40px
	font-weight 500
	font-size 16px
	line-height 20px
	color $white
	text-decoration none
	white-space nowrap
	@extend .transition
	
	&:hover
		background $pastel