.FilterElement
	&_title
		margin-bottom 20px
		font-weight normal
		font-size 14px
		line-height 17px
		text-align center
		opacity 0.6
	
	&-range
		.FilterElement_title
			margin-bottom 6px
		
		.FilterElement_content
			padding-right 9px