.Footer
	padding 294px 0 30px
	background $black
	text-align center
	
	&_top
		padding-bottom 26px
	
	&_logo
		margin-bottom 33px
	
	&_contacts
		margin-bottom 30px
	
	&_bottom
		padding-top 16px
		border-top 1px solid rgba(#FCF6F2, .2)
	
	&_copyright
		margin 0 -4px