.FurnishImgWrapper
	position relative
	display grid
	justify-content end
	
	&_img
		max-width none
		max-height 300px
		margin-right -230px
		
		@media $smPlus
			max-height 383px
			margin-right -72px
		
		@media $lgPlus
			max-height none
			margin-right -300px
	
	&_btnPlus
		position absolute
		z-index 10
		
		&-first
			top -23px
			// left 16px
			right 224px
			
			@media $smPlus
				top -22px
				right 563px
			
			@media $lgPlus
				top -27px
				right 503px
		
		&-second
			top 102px
			right 75px
			
			@media $smPlus
				top -75px
				right 273px
			
			@media $lgPlus
				top -89px
		
		&-third
			top 150px
			// left 20px
			right 5px
			
			@media $smPlus
				top 205px
				right 191px
			
			@media $lgPlus
				top 259px
				right 63px