.GallerySlider
	&_wrapper
		margin-bottom 40px
		
	&_slide
		width auto
	
	&_imgWrapper
		display grid
		justify-content center
		width 209px
		max-height 299px
		overflow hidden
	
	&_img
		max-height 299px
		max-width none
		// max-height 345px
		// margin-left -7px