.GallerySlider		
	&_slide
		width auto
	
	&_imgWrapper
		display grid
		justify-content center
		width 209px
		max-height 299px
		filter drop-shadow(0 15px 40px rgba(0, 36, 77, 0.1))
		border-radius 6px
		overflow hidden
		
		@media $smPlus
			// width 364px
			width 730px
			max-height 520px
	
	&_img
		max-height 299px
		max-width none
		
		@media $smPlus
			max-height 520px