.Header
	position relative
	padding 24px 0
	background url('../img/bg_header.webp') -60px 0 / auto 100% no-repeat
	
	@media $smPlus
		padding 48px 0 10px
		// padding 48px 0
		background-position -128px 0
	
	@media $mdPlus
		display grid
		min-height 100vh
		background-position center 0
		background-size auto
	
	@media $xlPlus
		padding-bottom 55px
		background-size cover
	
	&::before
		content ""
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background rgba($black, .4)
	
	&::after
		content ""
		position absolute
		top 0
		right 0
		left 0
		height 295px
		background linear-gradient(180deg, rgba(33, 16, 0, 0) 0%, #211200 100%)
		opacity 0.7
		transform matrix(1, 0, 0, -1, 0, 0)
		
		@media $smPlus
			height 579px
	
	&_container
		display grid
		grid-template-columns auto
		z-index 1
		
		@media $mdPlus
			align-items start
	
	&_top
		display grid
		grid-template-columns auto auto
		justify-content space-between
		align-items start
		margin-bottom 80px
		
		@media $smPlus
			margin-bottom 312px
		
		@media $mdPlus
			grid-template-columns auto auto auto
			margin-bottom 90px
		
		@media $xlPlus
			margin-bottom 342px
	
	&_logo
		@media $mdPlus
			margin-left 55px
		
		@media $lgPlus
			margin-left 165px
	
	&_circleBtns
		@media $mdPlus
			order -1
	
	&_subtitle
		color $white
		font-size 20px
		line-height 24px
		letter-spacing 0.02em
		
		@media $smPlus
			font-size 24px
			line-height 44px
	
	&_title
		margin-bottom 1px
		
		@media $smPlus
			margin-bottom 40px
		
		@media $xlPlus
			margin-bottom 0
	
	&_textWrapper
		margin-bottom 30px
		text-align center
		
		@media $sm
			margin-bottom 220px
		
		@media $mdPlus
			margin-top 40px
			margin-bottom 40px
		
		@media $xlPlus
			margin-top 0
			margin-bottom 288px
	
	&_text
		color $white
		font-size 20px
		line-height 37px
		letter-spacing 0.02em
		
		@media $sm
			font-size 24px
			line-height 44px
		
		@media $xlPlus
			font-size 24px
			line-height 44px
	
	&_apartmentsBtn
		width 288px
		justify-self center
		margin-bottom 67px
	
	&_moreBtn
		justify-self center
		
		@media $mdPlus
			align-self end
			
	&-layoutsSelectionPage
		margin-bottom -7px
		background-position -60px -167px
		background-size 928px auto
		
		@media $smPlus
			background-position -128px -302px
			background-size 1820px auto
		
		@media $mdPlus
			min-height 420px
			margin-bottom -56px
			// background-position center 0
			// background-position -128px -302px
		
		@media $lgPlus
			background-size cover
			background-position center -330px
		
		.Header_top
			margin-bottom 26px
			
			@media $smPlus
				margin-bottom 72px
			
			@media $mdPlus
				margin-bottom 56px
		
		.Header_textWrapper
			margin-bottom 0
			
			@media $mdPlus
				margin-top 0
		
		.Header_title
			@media $smPlus
				margin-bottom 25px
	
	&-layoutPage
		// margin-bottom -35px
		// padding-bottom 56px
		padding-bottom 77px
		background-position -60px -167px
		background-size 928px auto
		
		@media $smPlus
			padding-bottom 233px
			background-position -128px -302px
			background-size 1820px auto
		
		@media $mdPlus
			min-height 420px
			margin-bottom -56px
			background-position center 0
		
		@media $lgPlus
			background-size cover
			background-position center -330px
		
		.Header_top
			margin-bottom 0
			
			@media $smPlus
				margin-bottom 50px