.HeroSection
	position relative
	padding 24px 0
	background url('../img/bg_hero_section.webp') -60px 0 / auto 100% no-repeat
	
	&::before
		content ""
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background rgba($black, .4)
	
	&::after
		content ""
		position absolute
		top 0
		right 0
		left 0
		height 580px
		background linear-gradient(180deg, rgba(33, 16, 0, 0) 0%, #211200 100%)
		opacity 0.7
		transform matrix(1, 0, 0, -1, 0, 0)
	
	&_top
		display grid
		grid-template-columns auto auto
		justify-content space-between
		align-items start
		margin-bottom 76px
	
	&_buttons
		display grid
		grid-template-columns auto auto
		justify-content start
		align-items center
		gap 16px
	
	&_title
		margin-bottom 1px
	
	&_title,
	&_text
		text-align center
	
	&_text
		margin-bottom 30px
		color $white
		font-size 20px
		line-height 37px
		letter-spacing 0.02em
	
	&_apartmentsBtn
		margin-bottom 67px
	
	&_moreBtn
		justify-self center
		margin-bottom -67px