.LayoutPage
	&_apartmentTabsSection
		margin -56px -16px 40px
		
		@media $smPlus
			margin -212px 0 61px
	
	&_slider
		margin-bottom -404px
		
		@media $smPlus
			margin-bottom -412px
		
		@media $lgPlus
			margin-bottom -536px