.LayoutSlider
	&_swiper
		@media $sm
			padding-right 32px
			padding-left 32px
	
	&_slide
		width auto
		
	&_controls
		margin-top 25px
	
	&_btnWrapper
		display flex
		justify-content center
		margin-top 33px
		
		@media $smPlus
			margin-top 40px
		
		@media $lgPlus
			margin-top 42px