.Layouts
	padding 24px 0
	
	@media $smPlus
		padding 55px 0 24px
	
	@media $lgPlus
		padding 42px 0 24px
	
	&_label,
	&_title
		text-align center
	
	&_label
		color $white
		font-size 20px
		line-height 24px
		letter-spacing 0.02em
		
		@media $smPlus
			font-size 24px
			line-height 44px
	
	&_title
		margin-bottom 25px
	
	&_items
		display grid
		grid-template-columns repeat(auto-fill, minmax(288px, 312px))
		justify-content center
		justify-items center
		gap 16px
		margin-bottom 25px
		
		@media $smPlus
			gap 24px
			margin-bottom 40px
		
		&:last-child
			margin-bottom 0
	
	&_btnWrapper
		text-align center