.MapSection
	&_map
		position relative
		// height 460px
		height 500px
		// overflow hidden
		
		@media $smPlus
			height 840px
			// height 785px
	
	&_objects
		margin -41px -16px -67px
		
		@media $smPlus
			margin-top -56px
		
		@media $lgPlus
			width 1216px
			margin-right auto
			margin-left auto