.Mortgage
	padding 180px 0 79px
	
	@media $smPlus
		// padding 324px 0 104px
		padding 319px 0 107px
	
	@media $lgPlus
		display grid
		grid-template-columns 450px 1fr
		grid-template-rows 1fr 1fr auto
		column-gap 112px
		padding 350px 0 114px
	
	&_title
		margin-bottom 24px
		
		@media $smPlus
			margin-bottom 30px
		
		@media $lgPlus
			align-self end
			// margin-bottom 24px
			margin-bottom 40px
	
	&_list
		margin-bottom 32px
		
		@media $smPlus
			margin-bottom 40px
		
		@media $lgPlus
			margin-top -18px
			margin-bottom 0
	
	&_interestRates
		@media $sm
			margin-right -4px
		
		@media $lgPlus
			grid-area 1 / 2 / 4 / 3
	
	&_btnWrapper
		@media $lgMinus
			display flex
			justify-content center
			margin-top 40px