.Reputation
	padding 0 0 50px
	
	&_label
		margin-bottom 16px
		font-size 18px
		line-height 24px
		letter-spacing 0.02em
		color $white
	
	&_title
		margin-bottom 16px
	
	&_text
		margin-bottom 71px
	
	&_imgWrapper
		position relative
		display grid
		justify-content center
		margin-right -16px
		margin-left -16px
	
	&_img
		grid-area 1 / 1 / 2 / 2
		max-width none
		max-height 400px
	
	&_logo
		position absolute
		top -81px
		right 32px