.SectionTitle
	color $sandy
	font-weight normal
	font-family $forum
	font-size 34px
	line-height 38px
	
	@media $smPlus
		font-size 74px
		line-height 82px
	
	@media $lg
		font-size 60px
		line-height 68px
	
	@media $xlPlus
		font-size 80px
		line-height 88px
	
	&-header
		line-height 40px
		
		@media $sm
			font-size 100px
			line-height 90px
		
		@media $xlPlus
			font-size 110px
			line-height 121px
	
	&-benefit
		@media $sm
			font-size 40px
			line-height 42px