.Select
	appearance none
	padding-right 10px
	border none
	outline none
	background url("data:image/svg+xml,%3Csvg width='13' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 5.5 6L12 1' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") right center no-repeat
	cursor pointer
	color $white
	font-family $baseFont
	font-size 18px
	line-height 24px
	letter-spacing 0.02em
	
	@media $smPlus
		font-size 24px
		line-height 44px