.SwiperBtn
	display inline-grid
	width 32px
	height 32px
	justify-content center
	align-items center
	border 1px solid $white
	border-radius 50%
	background-color transparent
	background-position center center
	background-repeat no-repeat
	cursor pointer
	@extend .transition
	
	@media $smPlus
		width 61px
		height 61px
		border-width 2px
		// border-color transparent
		// background-color rgba(#A77054, .3)
		background-color #A77054
	
	&:hover
		background-color $white
	
	&-prev
		background-image url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.618 6 7 .78 6.191 0 0 6l6.191 6L7 11.22 1.618 6Z' fill='%23fff'/%3E%3C/svg%3E")
		
		@media $smPlus
			background-image url("data:image/svg+xml,%3Csvg width='16' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7h15V6H1v1Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 6.5 6.5 13l.707-.707L1.414 6.5 7.207.707 6.5 0 0 6.5Z' fill='%23fff'/%3E%3C/svg%3E")
		
		&:hover
			background-image url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.618 6 7 .78 6.191 0 0 6l6.191 6L7 11.22 1.618 6Z' fill='%2397544A'/%3E%3C/svg%3E")
		
			@media $smPlus
				background-image url("data:image/svg+xml,%3Csvg width='16' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7h15V6H1v1Z' fill='%2397544A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 6.5 6.5 13l.707-.707L1.414 6.5 7.207.707 6.5 0 0 6.5Z' fill='%2397544A'/%3E%3C/svg%3E")
	
	&-next
		background-image url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.382 6 0 .78.809 0 7 6 .809 12 0 11.22 5.382 6Z' fill='%23fff'/%3E%3C/svg%3E")
		
		@media $smPlus
			background-image url("data:image/svg+xml,%3Csvg width='16' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 7H0V6h15v1Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 6.5 9.5 13l-.707-.707L14.586 6.5 8.793.707 9.5 0 16 6.5Z' fill='%23fff'/%3E%3C/svg%3E")
		
		&:hover
			background-image url("data:image/svg+xml,%3Csvg width='7' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.382 6 0 .78.809 0 7 6 .809 12 0 11.22 5.382 6Z' fill='%2397544A'/%3E%3C/svg%3E")
			
			@media $smPlus
				background-image url("data:image/svg+xml,%3Csvg width='16' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 7H0V6h15v1Z' fill='%2397544A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 6.5 9.5 13l-.707-.707L14.586 6.5 8.793.707 9.5 0 16 6.5Z' fill='%2397544A'/%3E%3C/svg%3E")
	
	// &-disabled