.TextBlock
	&_title
		margin-bottom 16px
		
		@media $smPlus
			margin-bottom 41px
	
	&-location
		.TextBlock_title
			@media $smPlus
				margin-bottom 16px
		
		@media $lgPlus
			display grid
			grid-template-columns 536px 1fr
			gap 136px